<div class="container">
  <div class="text-center" id="location"><h6 class="btn btn-success text-center">Tomar mi ubicacion</h6></div>
  <div id="map"></div>
  <div class="row justify-content-center">
    <div class="col-12">
      <%= simple_form_for(@cliente) do |f| %>
        <%= f.input :name, label: "Al llegar, por quién preguntamos?"%>
        <%= f.input :nro, label: "Nro de telefono?"%>
        <%= f.input :direccion, label: "Direccion?"%>
        <%= f.input :latitud, label: "Latitud?", input_html: { id: :latitud}%>
        <%= f.input :longitud, label: "Longitud?", input_html: { id: :longitud} %>
        <%= f.input :email, label: "Email?"%>
        <div class="d-flex justify-content-center">
        <%= f.submit "Guardar lugar de entrega"%>
        </div>
      <% end %>
      <%= link_to 'Back', root_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
<%= javascript_include_tag "//maps.google.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}" %>
